.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: url('/the-green-spades-hand.png'), pointer;
  transition: all 0.6s ease;
  color: white;
}
.button.text {
  transition: all 0.6s ease;
}
.button.text:hover {
  transform: scale(1.04);
}
.button:hover {
  transform: scale(1.04);
}
