.cardContainer {
  position: absolute;
  top: 60vh;
  left: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1; 
  height: 40vh; /* Set a fixed height */
}
