* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/AboutUs/images/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

.leftSide {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.leftSide img {
  width: 70%;
  height: auto;
  margin: 1rem 0;
  position: sticky;
}

.header {
  color: white;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%);
}

.header h1 {
  text-align: center;
  margin: 2rem;
  letter-spacing: 0.8rem;
  font-size: 4.5rem;
}

.header p {
  margin: 1rem;
  padding: 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.rightSide {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.rightSide div {
  width: 60%;
  height: 10%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 5;
}

.rightSide div .line {
  width: 80%;
  height: 10%;
  background-color: white;
  transition: all 0.25s ease-in-out;
}

.rightSide div .absolute {
  position: absolute;
}

.extension {
  width: 100vw;
  height: 100vh;
  background-color: #2f5d69;
  opacity: 1;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.lineAnimation {
  animation: underlineLeftToRight 0.5s ease-in-out 0s 1;
}

.leftToRight {
  transform: translateX(0);
}

.tiltLeft {
  transform: rotateZ(45deg);
}

.tiltRight {
  transform: rotateZ(-45deg);
}

.disappear {
  opacity: 0;
}

.extension .navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  margin: 1.5rem 0;
}

.extension .navLink a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 95%;
  width: 25%;
  color: white;
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.25s ease-in-out;
}

.extension .navLink .up {
  transform: translateY(0);
  opacity: 1;
}

.extension .navLink a:hover {
  scale: 1.3;
  filter: drop-shadow(black 0rem 0rem 20px);
}

.extension .navLink .line {
  height: 5%;
  width: 100%;
  background-color: white;
  transform: translateX(150%);
  visibility: hidden;
}

@keyframes underlineLeftToRight {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }

  70% {
    transform: translateX(0%);
    visibility: visible;
  }

  100% {
    transform: translateX(150%);
    visibility: visible;
  }
}

@media only screen and (max-device-width: 480px) {
  .leftSide {
    width: 12%;
    height: 100%;
  }

  .leftSide img {
    width: 100%;
    height: auto;
  }

  .header {
    width: 76%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header h1 {
    letter-spacing: 0.4rem;
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    width: 100%;
  }

  .rightSide {
    width: 12%;
    height: 100%;
  }

  .rightSide div {
    width: 70%;
    height: 10%;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }

  .rightSide div .line {
    width: 80%;
    height: 8%;
    background-color: white;
    transition: all 0.25s ease-in-out;
  }

  .extension .navLink {
    height: 2rem;
    width: 100%;
    margin: 1rem 0;
  }

  .extension .navLink a {
    font-size: 1rem;
    height: 95%;
    width: 25%;
    transform: translateY(0.7rem);
    transition: all 0.25s ease-in-out;
  }
}