.home {
  background-image: url("../assets/draft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

/* TODO: add animation as that of logo */
.mlsc_logo {
  position: fixed;
  top: 0;
  left: 5%;
  width: 10%;
  height: auto;
  z-index: 0;
  margin-top: 5vh;
}

.button_container {
  position: absolute;
  top: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10vw;
  width: 100%;
}

@media (max-width: 480px) {
  .mlsc_logo {
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    margin-top: 3vh;
  }

  .button_container {
    top: 60vh;
    flex-direction: column;
    row-gap: 2vh;
  }
}

.App {
  background-size: cover;
}
