.home {
  background-image: url("../assets/draft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden; /* Ensures no unwanted overflow outside the viewport */
}
