@font-face {
    font-family: 'coburn';
    src: url(../components/fonts/Coburn.otf);
}
body{
    overflow: hidden;
}


.timeline_container {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}



.timeline {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    color: #E4A700;
    font-family: 'coburn', Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
    word-wrap: break-word;


}

.background {
    background-image: url('../components/images/image1.png');
    background-size: cover;
    transform: scale(0.7);
    width: 55vw;
    height: 72vh;
    flex-shrink: 0;

}

.description {
    color: #E4A700;
    font-family: "Inria Serif";
    font-size: 20.295px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.eventcard{
    position: absolute;
    top: -8vh;
    left: 50vw;
}
.icon1{
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline:none;
    top: 10vh;
    left: 9vw;   
}
.icon1 img{
    width: 8vw;
    height: 15vh;
}
.icon1:hover{
    opacity: 0.8;
}

.icon2{
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline:none;
    top: 29vh;
    left: 14vw;   
}
.icon2 img{
    width: 8vw;
    height: 15vh;
}
.icon2:hover{
    opacity: 0.8;
}


.icon3{
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline:none;
    top: 48vh;
    left: 21vw;   
}
.icon3 img{
    width: 8vw;
    height: 15vh;
}
.icon3:hover{
    opacity: 0.8;
}


.icon4{
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline:none;
    top: 66vh;
    left: 30vw;   
}
.icon4 img{
    width: 8vw;
    height: 15vh;
}
.icon4:hover{
    opacity: 0.8;
}


.icon5{
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline:none;
    top: 81vh;
    left: 39vw;   
}
.icon5 img{
    width: 8vw;
    height: 15vh;
}
.icon5:hover{
    opacity: 0.8;
}
