.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add space between polaroids */
  padding: 20px; /* Add padding around the container */
}

.polaroid {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 12vw; /* Make the polaroid smaller */
  height: 20vh; /* Adjust height accordingly */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increase shadow for better effect */
  border-radius: 10px; /* Add rounded corners */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for hover effect */
}

.polaroid:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

.imageContainer {
  width: 100%;
  height: 80%; /* Cover 4/5th of the white box */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; /* Remove bottom margin */
}

.image {
  width: 80%; /* Make the image smaller */
  height: 80%;
  object-fit: contain;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%; /* Fill the remaining white space */
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 431px) {
  .polaroid {
    width: 70vw;
    height: 35vh;
    margin: 5vw;
    padding: 5vw;
  }
  .image {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 913px) and (min-width: 431px) {
  .polaroid {
    width: 25vw;
    height: 35vh;
    margin: 5vw;
    padding: 5vw;
  }
  .image {
    width: 70%;
    height: 70%;
  }
}