.polaroid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  width: 25%;
  height: 30%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1.33px 2.67px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 5px 3.33px 3.33px 3.33px; 
}

.blackBox {
  width: 100%;
  height: 85%; /* Cover 3/4th of the white box */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; /* Remove bottom margin */
}

.image {
  width: 90%; /* Make the image smaller */
  height: 85%;
  object-fit: cover;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%; /* Fill the remaining white space */
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width:431px) {
    .polaroid {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; 
      align-items: center;
      width: 25%;
      height: 30%;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 1.33px 2.67px rgba(0, 0, 0, 0.1);
      margin: 7.5px;
      padding: 5px 3.33px 3.33px 3.33px; 
    }
  
    .blackBox {
      width: 100%;
    height: 85%; /* Cover 3/4th of the white box */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; /* Remove bottom margin */
  }

  .image {
    width: 90%; /* Make the image smaller */
    height: 85%;
    object-fit: cover;
  }

  .caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%; /* Fill the remaining white space */
    font-size: 16px;
    text-align: center;
  }
}
/* For surface pro 7  */
@media screen and (max-width:913px) and (min-width:431px){
  .polaroid{
    width: 16vw;
    margin-top: 5vh;
  }
  
}