.Sponsors {
  background: url("/Sponsors/FingerTrail.png");
  background-size: cover; /* Stretches the image to cover the element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

.SponsorTitle {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: "Poppins";
}

.SponsorHeadings {
  font-size: 1.75rem;
  font-family: "Montserrat";
  color: rgb(218, 65, 65);
}

ul {
  padding: 2% 5%;
  list-style-type: none;
}

li {
  padding: 1vw;
}

li p {
  font-size: 1.2rem;
  font-family: "Poppins";
}

.Girl{
  position: fixed;  
  bottom: -4vw; 
  left: -1vw;
  width: 70vh; 
  height: auto;
}

@media screen and (max-width:500px) {
  
  .Girl{
    height: 0;
    width: 0;
  }
  .SponsorTitle {
    font-size: 3rem;
    margin-top: 17vw;
    margin-left: -7vw;
  }
  .SponsorHeadings {
    font-size: 1.50rem;
  }
  .SponsorText {
    font-size: 1.10rem;
  }

}

/* For surface pro 7  */
@media screen and (max-width:913px) and (min-width:431px){
  .Girl{
    visibility: hidden;
  }
  .SponsorText{
    font-size: 31px;
    margin-top: 3vh;
  }
  .SponsorTitle{
    margin-top: 2vh;
  }
}
